:root {
  --primary: #6200ee;
  --primary-variant: #3700bb;
  --secondary: #03dac0;
  --secondary-variant: #89043d;
  --base-spacing: 8px;
}

body {
  font-family: "'Oswald'", sans-serif;
  /* margin: calc(var(--base-spacing) * 2); */
  background-color: #d3c4e7;
}

/*
h1 {
  background: var(--primary-variant);
}
 */

/*
 nav {
   margin: auto 50%;
 } */

h1 {
  font-style: oblique;
  text-align: center;
  margin: 0;
}

h2 {
  text-align: center;
  font-weight: 100;
  letter-spacing: 3px;
  text-shadow: 1px 1px var(--secondary);
  background-color: var(--primary);
  color: var(--primary);
  opacity: 0.9;
  margin: 0;
}

.fas {
  font-size: 48px;
}

nav .fas {
  margin: var(--base-spacing);
  position: absolute;
  transform: translateX(calc(100vw - (var(--base-spacing) * 10)));
}

nav {
  border-top: var(--border-secondary);
  border-bottom: var(--border-secondary);
  min-height: 72px;
}

.is-hidden--mobile {
  font-size: 0;
  height: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  text-align: center;
}

/* a:link {
  text-decoration: none;
} */

.figure {
  background-color: var(--primary);
  /* margin: 5px; */
  padding: 10px;
  color: white;
  text-shadow: 2px 2px var(--secondary-variant);
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

img {
  border-radius: 50%;
  box-shadow: 2px 5px 5px darkgrey;
}

/* .button {
  background-color: var(--secondary-variant);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
} */

/* .link {
  color: var(--primary-variant);
  border: solid var(--secondary-variant);
  padding: 10px 28px;
  text-align: center;
  margin: 5px;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
} */

ul {
  padding: 0;
  list-style-type: none;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  padding: var(--base-spacing) 0;
}

nav a {
  border: 1px solid var(--primary);
  border-radius: 15%;
  padding: 8px;
  box-shadow: 1px 2px 4px #03dac0;
}

nav a,
.hero a,
.read-more-btn,
footer a {
  text-decoration: none;
}

section {
  padding: calc(var(--base-spacing) * 3);
  display: flex;
  flex-direction: column;
  background: var(--secondary);
}

/* section:nth-of-type(odd) {
  background: white;
}

section:nth-of-type(even) {
  background: gray;
} */

.hero {
  background: url(https://picsum.photos/680/420) center center no-repeat;
  background-size: cover;
  /* background-repeat: no-repeat; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  max-height: 420px;
}

.read-more-btn {
  background: white;
  border-radius: var(--base-spacing);
  padding: var(--base-spacing);
  display: inline-block;
  margin: var(--base-spacing) 0;
  max-width: 100px;
  align-self: center;
}

footer {
  border-top: var(--base-spacing);
  padding: calc(var(--base-spacing) * 2);
}

footer a {
  color: white;
}

.hero a {
  background: var(--secondary-variant);
  padding: var(--base-spacing);
  border-radius: var(--base-spacing);
}

footer ul {
  display: flex;
  justify-content: space-between;
}

/* Contact Form CSS */

form,
form div {
  display: flex;
  flex-direction: column;
}

form {
  padding: var(--base-spacing);
}

input,
textarea {
  border: solid thin black;
  max-width: 80vw;
}

input[type="submit"] {
  border-radius: var(--base-spacing);
  display: inline-block;
  margin: 8px;
  min-height: 48px;
  max-width: 96px;
  text-align: center;
}

.input-box {
  margin: 0;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }

  .hero {
    height: 40vh;
  }

  .is-hidden--tablet {
    font-size: 0;
    height: 0;
  }

  .input-box {
    margin: 5px;
  }
}

@media screen and (min-width: 1024px) {
  header {
    flex-direction: row;
    padding: var(--base-spacing);
  }

  header figure {
    margin-right: 16px;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  section p {
    margin-bottom: auto;
  }

  .flex-container--desktop {
    display: flex;
  }

  .flex-row--desktop {
    flex-direction: row;
  }

  .is-hidden--desktop {
    font-size: 0;
    height: 0;
  }

  .hero {
    height: 40vh;
  }

  .is-shown--desktop {
    font-size: initial;
  }

  .input-box {
    padding: 10px;
    justify-content: space-around;
  }
}

/* Bonus JS Things Below */

.is-error {
  /* box-shadow: 3px 3px red; */
}

.is-success {
  /* box-shadow: 3px 3px green; */
}
